{% extends 'traur2/base.html' %}
{% load static %}
{% block content %}
<h2 class="title">Справочная информация </h2>
<p class="information__kontakt">ЮРИДИЧЕСКИЙ АДРЕС <br><br> Московская область, Богородский <br> городской округ, деревня Караваево <br> <br><br><br>ПОЧТОВЫЙ АДРЕСС <br> BYMAGA@GMAIL.COM
<br> <br>КОНТАКТНАЯ ИНФОРМАЦИЯ <br> <br> 8977222167 <br>8991117272</p>
<script class="maps" type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6b66280b83cdf1611d547ce5796e33a51a5b5e1228da0a1fe5beb70106635ee7&width=759&height=543&lang=ru_RU&scroll=true"></script>
{% endblock %}