{% extends 'traur2/base.html' %}
{% load static %}
{% block content %}
    <div class="container__text-company">
      <p>Жил Альберт Бумажник, поклонник красивой бумаги. Он решил создать свою фирму по производству идеального материала для творчества. С поддержкой друзей и семьи, Альберт освоил производство, выбрав уединенное место рядом с рекой. Первые шаги были трудными, но с временем его бумага стала популярной не только в своем городе. Альберт чувствовал гордость, видя, как его труды приносят радость и вдохновение другим.</p>
    </div>
    <br>
    <div class="banner"><img src="{% static 'img/proiz1.png'%}" alt=""/></div>

    <div class="container__text-company">
      <p>Продукция: Фирма производит широкий ассортимент бумаги, включая офисную бумагу, художественную бумагу, бумагу для печати и упаковки. Клиенты "Бумага МастерПапер" варьируются от художников и писателей до крупных компаний, ценящих качество и ответственный подход к производству. "Бумага МастерПапер" не только производит бумагу, но и вдохновляет людей на творчество, поддерживая их идеи и проекты.</p>
    </div>
    <br>
    <div class="banner"><img src="{% static 'img/proiz2.png'%}" alt=""/></div>
{% endblock %}