{% extends 'traur2/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="product-image">
        <img src="{% static 'img/product2.png'%}" alt="">
    </div>
    <div class="product-description">
        <h2>Бумага А3 на заказ</h2><br>
        <p>Описание описание описание описание описание описание <br>
            Описание описание описание описание описание описание <br>
            Описание описание описание описание описание описание <br>
            Описание описание описание описание описание описание <br>
            Описание описание описание описание описание описание <br></p><br>
        <p class="product-price" data-price="1400">Цена: 1400 p</p><br>
        <select class="select_css" onchange="updatePrice()">
            <option class="vibr" value="1">1 шт.</option>
            <option class="vibr" value="2">2 шт.</option>
            <option class="vibr" value="3">3 шт.</option>
            <option class="vibr" value="4">4 шт.</option>
        </select>
        <button class="add-to-cart" onclick="addToCartAndRedirect()">Добавить в корзину</button>
    </div>
</div>

<script>
    function addToCartAndRedirect() {
        var productName = document.querySelector('.product-description h2').innerText;
        var productDescription = document.querySelector('.product-description p').innerText;
        var productPrice = document.querySelector('.product-price').getAttribute('data-price');
        var productQuantity = document.querySelector('.select_css').value;
        var productImage = document.querySelector('.product-image img').getAttribute('src');

        // Пересчитываем цену, учитывая выбранное количество
        var totalPrice = productPrice * productQuantity;

        window.location.href = '/cart/?name=' + encodeURIComponent(productName) + '&description=' + encodeURIComponent(productDescription) + '&price=' + encodeURIComponent(totalPrice) + '&quantity=' + encodeURIComponent(productQuantity) + '&image=' + encodeURIComponent(productImage);
    }

    function updatePrice() {
        var selectedQuantity = document.querySelector('.select_css').value;
        var pricePerItem = document.querySelector('.product-price').getAttribute('data-price');

        // Пересчитываем и обновляем цену на странице товара
        var totalPrice = pricePerItem * selectedQuantity;
        document.querySelector('.product-price').innerText = 'Цена: ' + totalPrice + ' p';
    }
</script>

{% endblock %}
