{% extends 'traur2/base.html' %}
{% load static %}
{% block content %}
<br><br>
<div class="search__string">
    <input class="vvedit" type="text" id="name-filter" placeholder="Введите название товара">
    <button class="search-btn">Найти</button>
</div>
<h2 class="title">рекомендации по товару</h2>
<div class="container__souvenirs">
    <div class="souvenir" data-category="category1" data-name="<Бумага>"><img src="{% static 'img/product1.png'%}" alt="">
        <p>БУМАГА</p>
        <p>цена:3999</p><br>
        <a href="{% url 'product_detail' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
    <div class="souvenir" data-category="category1" data-name="<Бумага>"><img src="{% static 'img/product1.png'%}" alt="">
        <p>БУМАГА</p>
        <p>цена:3999</p><br>
        <a href="{% url 'product_detail' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
    <div class="souvenir" data-category="category1" data-name="<Бумага>"><img src="{% static 'img/product1.png'%}" alt="">
        <p>БУМАГА</p>
        <p>цена:3999</p><br>
        <a href="{% url 'product_detail' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
    <div class="souvenir" data-category="category1" data-name="<Бумага>"><img src="{% static 'img/product1.png'%}" alt="">
        <p>БУМАГА</p>
        <p>цена:3999</p><br>
        <a href="{% url 'product_detail' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
    <div class="souvenir" data-category="category1" data-name="<Бумага>"><img src="{% static 'img/product1.png'%}" alt="">
        <p>БУМАГА</p>
        <p>цена:3999</p><br>
        <a href="{% url 'product_detail' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
    <div class="souvenir" data-category="category1" data-name="<Бумага>"><img src="{% static 'img/product1.png'%}" alt="">
        <p>БУМАГА</p>
        <p>цена:3999</p><br>
        <a href="{% url 'product_detail' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
    <div class="souvenir" data-category="category1" data-name="<Бумага>"><img src="{% static 'img/product1.png'%}" alt="">
        <p>БУМАГА</p>
        <p>цена:3999</p><br>
        <a href="{% url 'product_detail' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
</div>
<h2 class="title">услуги и продукция</h2>
<div class="container__souvenirs">
    <div class="souvenir" data-category="category2" data-name="<Производство на заказ а3 бумаги.от 1000шт>"><img src="{% static 'img/product2.png'%}" alt="">
        <p>Производство на заказ <br> а3 бумаги.от 1000шт <br>цена за шт: 7р</p>
        <a href="{% url 'product_detail2' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
    <div class="souvenir" data-category="category2" data-name="<Производство на заказ а3 бумаги.от 1000шт>"><img src="{% static 'img/product2.png'%}" alt="">
        <p>Производство на заказ <br> а3 бумаги.от 1000шт <br>цена за шт: 7р</p>
        <a href="{% url 'product_detail2' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
    <div class="souvenir" data-category="category2" data-name="<Производство на заказ а3 бумаги.от 1000шт>"><img src="{% static 'img/product2.png'%}" alt="">
        <p>Производство на заказ <br> а3 бумаги.от 1000шт <br>цена за шт: 7р</p>
        <a href="{% url 'product_detail2' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
    <div class="souvenir" data-category="category2" data-name="<Производство на заказ а3 бумаги.от 1000шт>"><img src="{% static 'img/product2.png'%}" alt="">
        <p>Производство на заказ <br> а3 бумаги.от 1000шт <br>цена за шт: 7р</p>
        <a href="{% url 'product_detail2' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
</div><br>
<div class="container__souvenirs">
    <div class="souvenir" data-category="category2" data-name="<Производство на заказ а3 бумаги.от 1000шт>"><img src="{% static 'img/product2.png'%}" alt="">
        <p>Производство на заказ <br> а3 бумаги.от 1000шт <br>цена за шт: 7р</p>
        <a href="{% url 'product_detail2' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
    <div class="souvenir" data-category="category2" data-name="<Производство на заказ а3 бумаги.от 1000шт>"><img src="{% static 'img/product2.png'%}" alt="">
        <p>Производство на заказ <br> а3 бумаги.от 1000шт <br>цена за шт: 7р</p>
        <a href="{% url 'product_detail2' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
    <div class="souvenir" data-category="category2" data-name="<Производство на заказ а3 бумаги.от 1000шт>"><img src="{% static 'img/product2.png'%}" alt="">
        <p>Производство на заказ <br> а3 бумаги.от 1000шт <br>цена за шт: 7р</p>
        <a href="{% url 'product_detail2' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
    <div class="souvenir" data-category="category2" data-name="<Производство на заказ а3 бумаги.от 1000шт>"><img src="{% static 'img/product2.png'%}" alt="">
        <p>Производство на заказ <br> а3 бумаги.от 1000шт <br>цена за шт: 7р</p>
        <a href="{% url 'product_detail2' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
</div><br>
<div class="container__souvenirs">
    <div class="souvenir" data-category="category2" data-name="<Производство на заказ а3 бумаги.от 1000шт>"><img src="{% static 'img/product2.png'%}" alt="">
        <p>Производство на заказ <br> а3 бумаги.от 1000шт <br>цена за шт: 7р</p>
        <a href="{% url 'product_detail2' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
    <div class="souvenir" data-category="category2" data-name="<Производство на заказ а3 бумаги.от 1000шт>"><img src="{% static 'img/product2.png'%}" alt="">
        <p>Производство на заказ <br> а3 бумаги.от 1000шт <br>цена за шт: 7р</p>
        <a href="{% url 'product_detail2' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
    <div class="souvenir" data-category="category2" data-name="<Производство на заказ а3 бумаги.от 1000шт>"><img src="{% static 'img/product2.png'%}" alt="">
        <p>Производство на заказ <br> а3 бумаги.от 1000шт <br>цена за шт: 7р</p>
        <a href="{% url 'product_detail2' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
    <div class="souvenir" data-category="category2" data-name="<Производство на заказ а3 бумаги.от 1000шт>"><img src="{% static 'img/product2.png'%}" alt="">
        <p>Производство на заказ <br> а3 бумаги.от 1000шт <br>цена за шт: 7р</p>
        <a href="{% url 'product_detail2' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
</div> <br>
<div class="container__souvenirs">
    <div class="souvenir" data-category="category2" data-name="<Производство на заказ а3 бумаги.от 1000шт>"><img src="{% static 'img/product2.png'%}" alt="">
        <p>Производство на заказ <br> а3 бумаги.от 1000шт <br>цена за шт: 7р</p>
        <a href="{% url 'product_detail2' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
    <div class="souvenir" data-category="category2" data-name="<Производство на заказ а3 бумаги.от 1000шт>"><img src="{% static 'img/product2.png'%}" alt="">
        <p>Производство на заказ <br> а3 бумаги.от 1000шт <br>цена за шт: 7р</p>
        <a href="{% url 'product_detail2' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
    <div class="souvenir" data-category="category2" data-name="<Производство на заказ а3 бумаги.от 1000шт>"><img src="{% static 'img/product2.png'%}" alt="">
        <p>Производство на заказ <br> а3 бумаги.от 1000шт <br>цена за шт: 7р</p>
        <a href="{% url 'product_detail2' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
    <div class="souvenir" data-category="category2" data-name="<Производство на заказ а3 бумаги.от 1000шт>"><img src="{% static 'img/product2.png'%}" alt="">
        <p>Производство на заказ <br> а3 бумаги.от 1000шт <br>цена за шт: 7р</p>
        <a href="{% url 'product_detail2' %}">
            <button class="buy-btn">Купить</button>
        </a>
    </div>
</div><br>

<script>
    document.getElementById('name-filter').addEventListener('input', filterSouvenirs);

function filterSouvenirs() {
    var nameFilter = document.getElementById('name-filter').value.toLowerCase();
    var souvenirs = document.querySelectorAll('.souvenir');

    souvenirs.forEach(function(souvenir) {
        var name = souvenir.getAttribute('data-name').toLowerCase();
        var nameMatch = name.includes(nameFilter);

        if (nameMatch) {
            souvenir.style.display = 'block';
        } else {
            souvenir.style.display = 'none';
        }
    });
}
</script>
{% endblock %}